html {
	height: 100%;
	background: linear-gradient(165deg, #4c6182, #91609b, #722e75, #4b064c);
}

body {
	font-family: 'Barlow', sans-serif;
}

input {
	width: 100%;
	border: none;
	padding: none;
}

#container {
	margin: 20px auto;
	text-align: center;
	background: #f9f9e8;
	width: 300px;
	padding: 0px;
}

ul {
	text-align: left;
}